.on-map {
    position: absolute;
    z-index: 100;
}

.map-button {
    width: 35px;
    height: 35px;
    text-align: center;
}

.custom-popup {
    .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
 .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
 .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
  }
    .name {
        font-size:40pt;
    }

    .area {
        font-size : 20pt;
    }
}


.leaflet-clickable {
  cursor: crosshair !important;
}

.leaflet-container {
  cursor: help !important;
}
