<div class="navbar-fixed">
    <nav >
        <dir class="nav-wrapper">
            <a class="brand-logo center" href="#" scroll-to="welcome" offset="50"><span>States Leaflet Example</span></a>
            <ul  class="left">
                <li><a href="https://github.com/richardgcosgrove/leaflet_angular2" target="_blank">gitHub</a></li>
                <li><a href="https://github.com/haoliangyu/angular2-leaflet-starter" target="_blank">Seed gitHub</a></li>
            </ul>
        </dir>
    </nav>
</div>
<div class="custom-popup" id="map">
    <navigator></navigator>
    <div class="loader fa-container" >
            <div><span class="fa fa-globe fa-5x fa-fw"></span></div>
    </div>
</div>
